@tailwind base;
@tailwind components;
@tailwind utilities;



body {
    font-family: "Nunito", sans-serif;
    color: #757575;
    background-color: #F6F7F9;
}

.apexcharts-text,
.apexcharts-legend-text {
    font-family: "Nunito", sans-serif !important;
}

.login-wrapper {
    @apply bg-login-bg
}

.form-control {
    @apply bg-white text-sm appearance-none border border-gray-200 rounded-lg w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-blue-500
}

.required {
    @apply text-red-600
}

.rs-sidenav-default, .rs-sidenav-default .rs-dropdown-toggle, .rs-sidenav-default .rs-sidenav-item, .rs-sidenav-default .rs-sidenav-toggle-button {
    background-color: white;
}

.rs-sidenav-item.rs-sidenav-item-active {
    color: #8f53f0 !important;
}


.h-line {
    @apply h-px my-8 bg-gray-200 border-0
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.0);
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


.rs-picker-has-value .rs-btn .rs-picker-toggle-value,
.rs-picker-has-value .rs-picker-toggle .rs-picker-toggle-value {
    color: #575757;
}

.calendar-todo-list {
    list-style: none;
    padding: 0;
    text-align: left;
}

.calendar-todo-list li {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.custom-modal .rs-modal-content {
    height: calc(100vh - 200px);
    display: flex;
    flex-direction: column;
}
.custom-modal .rs-modal-body {
    /* height: calc(100vh - 400px); */
    max-height: initial;
    flex: 1 1 0%;
}


.input-flat .rs-btn{
    border-width: 0;

}

.input-flat .rs-input-group {
    border-width: 0;

}


.input-flat .rs-input-group:focus-within {
    outline: none;
}

.input-flat .rs-input-group input {
    padding: 0;
    font-size: 14pt;
    color: black;
    border-radius: 0;
}

.input-flat .rs-input-group input:disabled {
    background-color: white !important;
    color: black;
}

.input-flat .rs-input-group input::selection {
    background: white;
}

.input-flat .rs-btn-close {
    display: none;
}

.rs-avatar span {
    @apply text-xs
}